<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundong.mapper.OrderedMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yundong.entity.Ordered">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="coachid" property="coachid" />
		<result column="begintime" property="begintime" />
		<result column="ordertime" property="ordertime" />
		<result column="ordertype" property="ordertype" />
	</resultMap>

</mapper>
