<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundong.mapper.VipMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yundong.entity.Vip">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="classid" property="classid" />
		<result column="viptime" property="viptime" />
		<result column="timelenth" property="timelenth" />
		<result column="hour" property="hour" />
	</resultMap>

</mapper>
