<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundong.mapper.LogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yundong.entity.Log">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="details" property="details" />
		<result column="logtime" property="logtime" />
	</resultMap>
<sql id="Base_Column_List">
	id,userid,details,logtime
</sql>
	<insert id="addlogs" parameterType="com.yundong.entity.Log">
		insert into log (userid,details,logtime)
		values (#{userid,jdbcType=INTEGER}, #{details,jdbcType=INTEGER},now())
	</insert>
</mapper>
